*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family:'Quicksand', sans-serif;}
/* HEADER */
nav{
    background-color: #4472de;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index:1;
    position: relative;

}
.enlace-inicio{
    position: absolute;
    padding: 15px 50px;
}

.enlace-inicio img{
    transition: all .5s ease;
}
.enlace-inicio img:hover{

    height:55px;
}
.logo{
    height: 50px;
}
ul {
    /* list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: green;
     */
    float: right;
    margin: O 5px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a{   
    padding: 10px;
    background-color: #ABC4FF;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .5s ease;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 255, 0.418);
    color: #ABC4FF;
}

/* FIN HEADER */


main{
    background-image: url(../img/contact.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    padding: 24px;
    text-align: center;
    color: black;
    font-size: 2rem;
}

form{
    /* background-color: #CCDBFD; */
    color: black;
    padding: 1rem 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #91d3f7;
    margin-left: 30%;
    border: 1px solid blue;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

form label {
    font-weight: 900;
    padding: 10px;
}

input {
    width: 80%;
    height: 30px;

    border-radius: 5px;
    border: 3px solid transparent;
    font-size: 90%;
}

textarea{
    margin: 15px 0;
    height: 150px;
    width: 80%;
    border-radius: 10px;
    font-size: 100%;
    padding: 5px;
}

form button{
    display: flex;
    background-color: rgba(16, 36, 125, 0.721);
    color: white;
    font-weight: 900;
    border: none;
    font-size: 1.8rem;
    padding: 20px;
    border-radius: 20px;
    margin: 16px;
    
    
}



/* FOOTER */

footer {
    background-color:#B6CCFE;
    
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    text-transform: capitalize;
    color: white;
    padding: 80px 0 ;
    
}
   


.footer-row {
    display: flex;
    flex-wrap: wrap;
    
}
.footer-links {
    width: 22%;
    padding: 0 15px;
    
}
 
.footer-links h4 {
     font-size: 20px;
     color: black;
     margin-bottom: 25px;
     font-weight: 500;
     border-bottom: 2px solid black;
     padding-bottom: 10px;
     display: inline-block;
     transition: all .3s ease;

   
}
.footer-links ul li a {

    font-size: 18px;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.418);
    display: block;
    margin-bottom: 15px;
    

}
.footer-links ul li a:hover {

    color: white;
    padding-left: 6px;
}
.social-links a {

    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 255, 0.418);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;


}
                                                                                                                                                                                                      
.social-links a:hover {

    background-color: #ABC4FF;
    color: black;
}

.footer-logo {
    width: 100%;
    
    padding: 0 15px;
    display: inline-block;

}


.footer-logo img {
    width: 100%;
    height: 100%;
    
    

}

@media(max-width:991px) {

    .footer-row {
        text-align: center;
    }

    .footer-links {
        
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-logo {
        width: 30%;
    }
}

body {
    background-color: #EDF2FB;
}