*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

/* HEADER */
nav{
    background-color: #4472de;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index:1;
    position: relative;

}
.enlace-inicio{
    position: absolute;
    padding: 15px 50px;
}
.enlace-inicio img{
    transition: all .5s ease;
}
.enlace-inicio img:hover{

    
    height:55px;
}
.logo{
    height: 50px;
}
ul {
    /* list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: green;
     */
    float: right;
    margin: O 5px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a{   
    padding: 10px;
    background-color: #ABC4FF;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .5s ease;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 255, 0.418);
    color: #ABC4Ff;
}

h1{
    text-align: center;
    
    color:black;
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    padding: 55px;
    background-color: lightblue;
    margin-bottom: 2%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container {
    display: flex;
}
.image-container img {
    width: 95%;
}
.contenedor {
    padding: 10px;
    box-shadow: 0px 1px 1px 1px #000;
}

p, h2{
    text-align: center;
}


/* FOOTER */

footer {
    background-color:#B6CCFE;
    
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    text-transform: capitalize;
    color: white;
    padding: 80px 0 ;
    
}
   


.footer-row {
    display: flex;
    flex-wrap: wrap;
    
}
.footer-links {
    width: 22%;
    padding: 0 15px;
    
}
 
.footer-links h4 {
     font-size: 20px;
     color: black;
     margin-bottom: 25px;
     font-weight: 500;
     border-bottom: 2px solid black;
     padding-bottom: 10px;
     display: inline-block;
     transition: all .3s ease;

   
}
.footer-links ul li a {

    font-size: 18px;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.418);
    display: block;
    margin-bottom: 15px;
    

}
.footer-links ul li a:hover {

    color: white;
    padding-left: 6px;
}
.social-links a {

    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 255, 0.418);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;


}
                                                                                                                                                                                                      
.social-links a:hover {

    background-color: #ABC4FF;
    color: black;
}

.footer-logo {
    width: 100%;
    
    padding: 0 15px;
    display: inline-block;

}


.footer-logo img {
    width: 100%;
    height: 100%;
    
    

}

@media(max-width:991px) {

    .footer-row {
        text-align: center;
    }

    .footer-links {
        
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-logo {
        width: 30%;
    }
}